*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,li {
  list-style-type: none;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrap{
  width: 1200px;
  height: 700px;
  background-color: black;
}

#wrap > * {
  width: 100%;
}

#wrap > * > * {
  height: 100%;
}


/* footer area */
#footer {
  height: 100px;
  background-color: yellow;
  display: grid;
  grid-template-columns: 200px 700px 300px;
}

#logoFter{
  background-color: rgb(212, 215, 18);
}

#copy{
  background-color: rgb(189, 186, 113);
}

#family{
  background-color: rgb(79, 87, 8);
}
/* footer area */