#contents > * > * {
  position: relative;
  top:10px;
  left:10px;
}

#contents img {
  width: 380px;
  height: 180px;
}

#notice > * {
  width: 380px;
  height: 180px;
  background-color:mediumspringgreen;
}

#tab {
  width:100%;
  height:30%;
}

#tab > #tab-btn {
  width: 20%;
  height:100%;
  background-color:darkgreen;
}

#tab-btn > a {
  width: 50%;
  height: 100%;
  display: inline-block;
  background-color:chartreuse;
}

#tab-contents {
  width: 100%;
  height: 70%;
}




