/* 
  범위를 벗어나 레이아웃 무너뜨리는것 방지
*/

/*  
  1.이미지 3개를 담을 만큼 미리 박스크기 키우기
*/
#slider #slider-contents {
  width: 100%;
  height:100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

/* 
  img 는 원래 inline 형이므로 블록 전환 및 가로정렬을 위해 
  float 설정
*/
#slider #slider-contents > img{
  display: block;
  float: left;
}

