#logoFooter img {
    margin-top: calc((100px - 40px)/2);
}

#Copy article {
  text-align: center;
  padding-top: calc((100px - 63.99px)/2);
}

#SNS  {
  text-align: center;
  padding-top: calc((200px - 132.27px)/2);  
}

#SNS a {
  margin-left: 5px;
  margin-right: 5px;
}

