#popup {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 20%;
    top: 20%;
    background-color:#fff;
    z-index: 4;/*position relative or absolute*/
    box-shadow: rgba(0,0,0,0.5) 0 0 0 9999px;
}

#popup_wrap{
    width: 100%;/*500px*/
    height: 100%;/*500px*/
    background-color: rgb(195, 169, 169);
    display: flex;/*내부 컨텐츠 정렬 기준*/
    align-items: center;
    flex-direction: column;
}

#popup_wrap > #title { /*h3:display:block 박스 */
    background-color: #ffffff;
    text-align: center;
    width: 80%;/*400px*/
    height: 30px;
}

#popup_wrap > #main {
    color: white;
    width: 80%;
    text-align: center;
    height: 440px;
    background-color: rgb(148, 60, 60);
    font-size: 12px;
    padding-top: calc((440px - 176px)/2);/*p tag는 block요소이므로 vertical-align은 적용 안됨..*/
}

#popup_wrap > #popup_footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 30px;    
}

#popup_footer > #SevenChk {
    width: 90%;
    height: 100%;
    background-color:rgb(57, 57, 146);
}

#popup_footer > #btnX {
    width: 10%;
    height: 100%;
    background-color:rgb(56, 56, 186)
}

#btnX img {
    text-align: right;
    width: 100%;
    height: 100%;
}