*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*bgColor:#ffffff txtColor:#222328
*/

ul,li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: black;
}

#wrap{
    margin: 0 auto;
    margin-top: calc((100vh - 700px)/2);
    width:1200px;
    height:700px;
    background-color: black;
    position: relative;
    z-index: 1;
}

#wrap > * {
    width: 100%;
}

#header {
    height: 100px;
    background-color:red;
    position: relative;
    z-index: 2
}

#header > * {
    height: 100%;
}

#logo {
    float: left;
    width: 200px;
    background-color:orange;
}

#menu {
    float: left;
    width: 1000px;
    background-color:navy;
}

#slide{
    width: 1200px;
    height: 300px;
    background-color:blue;
}

#contents {
    height: 200px;
    background-color:yellow;
}

footer{
    height: 100px;
    background-color:green;
}

footer > * {
    height: 100%;
}

#logoFooter{
    float: left;
    width: 200px;
    background-color:chartreuse;
}

#Copy{
    float: left;
    width: 800px;
    background-color:coral;
}

#SNS{
    float: left;
    width: 200px;
    background-color:cornflowerblue;
}