*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main {
  width:1200px;
  height:700px;
  background-color:bisque;
  margin-left: auto;
  margin-right: auto;
}

header {
  width:1200px;
  height:100px;
  background-color:royalblue;
}

header>#logo {
  width: 200px;
  height: 100px;
  background-color:rosybrown;
  float: left;
}

header>#menu {
  width:1000px;
  height: 100px;
  background-color:crimson;
  float: left;
}

#slide {
  width:1200px;
  height:300px;
  background-color:rebeccapurple;
}

#contents {
  width:1200px;
  height:200px;
  background-color:burlywood;
}

#contents > #notice-gallery {
  width: 400px;
  height: 200px;
  background-color:darkcyan;
  float: left;
}

#contents > #banner {
  width: 400px;
  height: 200px;
  background-color:darkgoldenrod;
  float: left;
}

#contents > #shortcut {
  width: 400px;
  height: 200px;
  background-color:darkgreen;
  float: left;
}

footer {
  width:1200px;
  height:100px;
  background-color:chocolate;
}

footer > #logo {
  width: 200px;
  height: 100px;
  background-color:red;
  float: left;
}

footer > #copyright {
  width: 800px;
  height: 100px;
  background-color:blue;
  float: left;
}

footer > #SNS {
  width: 200px;
  height: 100px;
  background-color:yellow;
  float: left;
}

